# --- OS-specific files ---
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# --- IDEs and Editors ---
.vscode/*
!.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.suo
*.user
*.userossc
*.userprefs
*.workspace
.vs/
*.swp
*.swo
*~

# --- C / C++ ---
*.o
*.obj
*.out
*.exe
*.app
*.a
*.lib
*.so
*.dylib
build/
bin/
out/
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
Makefile
x64/
Debug/
Release/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/

# --- Java ---
*.class
*.log
*.jar
*.war
*.ear
target/
.gradle/
build/
.settings/
.classpath
.project

# --- JavaScript / Node ---
node_modules/
/jspm_packages/
.npm
.eslintcache
.node_repl_history
*debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
