PORT=5000
MONGO_URI=mongodb+srv://sujalmankotia051_db_user:7347@cluster0.a4u15it.mongodb.net/hospital_management?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=super_secret_jwt_token_for_meridian_health_123!
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=sujalmankotia15@gmail.com
ADMIN_PASSWORD=sujal2006@